

body {
    font-family: "Open Sans";
}

#main {
    margin: 10px 20px;
}

text.label {
    text-anchor: middle;
    font-size: 11px;
    fill: #555;
    font-family: sans-serif;
}

.axis text {
    fill: #555;
}

.axis line,
.axis path {
    stroke: #555;
}

text.title {
    text-anchor: middle;
    font-size: 14px;
    fill: #333;
}

svg circle {
    fill: rgb(135, 218, 135);
    opacity: 0.6;
}

svg circle.top-3 {
    fill: rgb(23, 109, 113);
    opacity: 0.6;
}


svg g text {
    opacity: 0;
    text-anchor: middle;
    font-size: 8px;
    font-weight: bold;
}

svg g:hover text {
    opacity: 1;
    text-anchor:middle;
}

svg g:hover circle {
    opacity: 1;
}